@charset "utf-8";
/* 版心 */
.header,.car-con,.nav-con,.links-con,.footer-con,.sum-con{
    width: 1226px;
    margin:0 auto;
}
/* header */
header{
    /* width:100%; */
    height: 35px;
    background-color: #333;
}
.header{
    height:35px;
}
header .header-left{
    float: left;
}
header .header-left li{
    float:left;
}
header .header-left li a{ 
    font-size:13px;
    color:#fff;
    display:block;
    width: 105px;
    height: 35px;
    line-height:35px;
    padding-left: 40px;
}
header .header-left li a:hover{
    background: #555;
}
header .header-left li a img{
    margin-top: 12px;
}
header .header-right{
    width: 560px;
    height: 35px;
    margin-left:86px;
}
.header-right .header-login{
    
    line-height:35px;
    margin-right:40px;
}
.header-login a{
    font-size:12px;
    color:#fff;
    float:left;
}
.header-login a:hover{
    color: #F12020;
}
.header-login span{
    float:left;
    font-size:12px;
    color:#fff;
    margin:0 12px ;
}
.header-right .header-CHwidth{
    height: 35px;
    line-height:35px;
    float:left;
}
.header-right .header-CHwidth:hover{
    background:#555;
}
.header-right .header-CHwidth a{
    display:block;
    font-size:12px;
    color:#fff;
    width: 80px;
    padding-left:40px;
}
.header-right #header-myCH a{
    background: url(../images/home-toolbar-login_03.png)no-repeat 20px;
}
.header-right #header-myCH{
    position: relative;
}
.header-right #header-myCH em{
    display:block;
    width: 190px;
    height: 190px;
    position: absolute;
    padding-top:20px;
    padding-left: 20px;
    background: #FFFFFF;
    display: none;
    z-index: 333;
}
.header-right #header-myCH em a{
    display:block;
    width: 120px;
    height: 20px;
    color: rgb(135,0,239)!important;
}
.header-right #header-myCH em ul{
    width: 210px;
    margin-top:10px;
    padding-bottom:15px;
    clear: both;
}
.header-right #header-myCH em ul li{
    font-size:12px;
    height:12px;
    line-height: 12px;
    float: left;
    border-right:1px solid #666666;
    padding-right:16px;
    color:#666666;
}
.header-right #header-CHYP{
    position: relative;
}
.header-right #header-CHYP a{
    background: url(../images/home-toolbar-news_05.png)no-repeat 20px;
}
.header-right #header-CHYP em{
    display:block;
    background: url(../picture/cnhome-hcyp-ewm.jpg) no-repeat;
    width: 230px;
    height: 230px;
    position: absolute;
    display: none;
    z-index:333;
}
.header-right #header-shoppingCar a{
    background: url(../images/home-toolbar-shoppingcar_03.png)no-repeat 20px;
}
#header-shoppingCar{
    position: relative;
}
#header-shoppingCar em{
    display: block;
    width: 320px;
    height: 60px;
    border:1px solid #F5F4F4;
    background: #fff;
    position: absolute;
    left: -201px;
    top: 35px;
    text-align: center;
    line-height:60px;
    font-size:14px;
    color:#666666;
    display: none;
    z-index:333;
}

/* nav */
.nav{
    width: 100%;
    height: 78px;
    box-shadow: 0px 3px 3px 0px #e1e1e1;
    background: #fff;
}
.nav-con{
    height: 78px;
}
.nav-con .nav-edit a{
    display: block;
    width: 35px;
    height: 18px;
    background: url(../images/inner-icon-gray.png) no-repeat right;
    float: left;
    border-left:1px solid #d4d4d4;
    line-height:18px;
    margin:30px 30px 0 10px;
}
.car-header{
    margin: 24px 0 0 257px;
    overflow: hidden;
}
.car-step-num{
    font-size: 14px;
    line-height: 30px;
    float: left;
}
.car-cur-step{
    color: #4dbd62;
}
.car-cur-step span{
    color:#fff;
    background: url(../images/ok-icon03.png) no-repeat !important;
}
.car-step-num span{
    display:block;
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    background: url(../images/ok-icon04.png) no-repeat;
}
.car-step p{
    float: left;
    width: 130px;
    border-top: 4px solid #cccccc;
    margin: 14px 15px 0;
}

/* car */
.car-con{
    min-height: 340px;
    background: #F9F9F9;
    margin-top:5px;
    margin-bottom: 46px;
}
.car-con h4{
    font: lighter 22px/30px "microsoft yahei";
    color: #777;
    text-align: center;
    line-height:340px;
}
.car-con-top{
    padding-top: 5px;
    font-size: 14px;
    color: #333;
    line-height: 66px;
}
.car-all-check{
    cursor: pointer;
    float: left;
    width: 14px;
    height: 14px;
    margin: 25px 18px 0 15px;
}
.car-lf .car-lf-sp{
    margin-left: 5px;
}
.car-lf-sp span{
    color: #f12020;
    margin: 0 4px;
    display:inline;
}
.rt-sp{
    padding-left: 30px;
    margin-right: 15px;
    background:url(../images/car-icon01.png) no-repeat 20px;
}
/* 商品列表 */
.car-item-lb{
    background:#fff;
    margin-bottom: 10px;
    height: 165px;
}
.car-check-box{
    width: 50px;
    height: 165px;
    line-height: 165px;
    text-align: center;
    border-right: 1px solid #f7f7f7;;
}
.car-deal-rt{
    width: 1175px;
    height: 165px;
}
.car-deal-top{
    border-bottom: 1px solid #f7f7f7;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #666666;
    /* background:orange */
}
.car-opt-bk{
    float: right;
    margin-top: 8px;
}
.car-opt-bk .opt-like{
    display: block;
    float: left;
    width: 24px;
    height: 22px;
    margin: 0 22px 0 6px;
    background: url(../images/car-icon06.png) no-repeat;
}
.opt-del{
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    margin: 0 22px 0 6px;
    background: url(../images/car-icon07.png) no-repeat;
}
.car-deal-sp{
    width: 1175px;
    height: 112px;
    padding: 5px 0px;
}
.car-deal-pc{
    display: block;
    float: left;
    width: 110px;
    height: 110px;
    margin-left: 10px;
}
.car-deal-pc img{
    display: block;
    width: 110px;
    height: 110px;
}
.car-deal-name{
    width: 300px;
    height: 110px;
    float: left;
    margin-left: 13px;
}
.car-deal-name a{
    font-size: 14px;
    font-weight: normal;
    color: rgb(51, 51, 51);
    display: table-cell;
    vertical-align: middle;
    height: 110px;
}
.car-deal-price{
    float: left;
    margin-left: 25px;
    width: 190px;
}
.car-deal-price .now-price{
    color: #000;
    height: 42px;
    line-height: 42px;
    text-align: center;
    margin-top: 34px;
    font-size:14px;
}
.car-deal-price span{
    display:inline;
    color: #eb1a21;
    margin: 0 22px;
    font-size:16px
}
.car-deal-qt{
    float: left;
    width: 225px;
    height: 35px;
    margin: 38px 0 0 30px;
    /* overflow: hidden; */
}
.car-deal-qt label{
    display: block;
    float: left;
    width: 50px;
    font-size: 14px;
    color: #000;
    line-height: 35px;
}
.car-quantity-form{
    float: left;
    border: 1px solid #cccccc;
    width: 173px;
    height: 33px;
}
.car-quantity-form a{
    display: block;
    width: 47px;
    height: 33px;
    line-height: 27px;
    color: #bbbbbb;
    font-size: 28px;
    text-align: center;
    
}
.car-quantity-form  input{
    display: block;
    float: left;
    padding: 0 1px;
    width: 75px;
    height: 33px;
    line-height: 33px;
    border:none;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    color: #000;
    font-size: 16px;
    text-align: center;
}
.car-item-sta{
    float: right;
    width: 270px;
    font-size: 14px;
    color: black;
    line-height: 112px;
    text-align: center;
}














/* links */
.links{
    height: 340px;
    width: 100%;
    background: #EFEFEF;
}
.links-con{
    height: 340px;
    background: #EFEFEF;
}
.links-help{
    padding: 37px 25px 0px;
    height: 77px;
    border-bottom: 1px solid #dddddd;
}
.about-CQ{
    float: left;
    display: flex;
}
.about-CQ-center{
    margin:0 300px;
}
.about-icon{
    margin-right:20px
}
.about-describe h1{
    font-size: 18px;
    color: #333333;
    line-height: 18px;
}
.about-describe p{
    font-size: 14px;
    line-height: 14px;
    color: #999;
    margin-top: 10px;
}
.links-serve{
    /* width: 385px; */
    height:185px;
}
.links-serve .lf{
    margin-left:30px;
    float: left;
}
.links-serve  .help-title{
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    line-height: 16px;
    height: 16px;
    margin-bottom: 18px;
    margin-top:35px;
}
.links-serve  li{
    line-height: 30px;
    height: 30px;
}
.links-serve  li a{
    font-size: 12px;
    color: #999;
}
.links-serve .ml40{
    margin-left:70px
}
.links-login .lf{
    float: left;
}
.links-login .ml40{
    margin-right:55px;
}
.links-serve .rt{
    padding-left:115px;
}
.links-login{
    width: 186px;
    height: 124px;
    border-bottom:1px solid #CCCCCC;
    margin-top:35px;
    margin-left:50px;
    display:flex;
    padding-bottom:15px;
}
.links-login .lf .help-title{
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    line-height: 16px;
    height: 16px;
    margin-bottom: 18px;
    
}
.links-login  li{
    line-height: 30px;
    height: 30px;
}
.links-login  li a{
    font-size: 12px;
    color: #999;
}
.links-con .help-tel{
    width: 209px;
    height: 151px;
    margin-left: 62px;
    margin-top:35px;
    border-left:1px solid #CCCCCC;
}
.links-con .help-tel p{
    margin-left: 35px;
    padding-left: 33px;
    height: 20px;
    line-height: 20px;
    margin-top:12px;
}
.links-con .help-tel p:first-child{
    background: url(../images/customer-service_12.png) no-repeat left;
}
.links-con .help-tel .fk{
    background: url(../images/feedback_17.png) no-repeat left;
}
.links-con .help-tel p a{
    font-size: 14px;
    cursor: pointer;
    color: #f12020;
}
.links-con .help-tel h1{
    font-size: 20px;
    font-weight: 500;
    color: #333333;
    text-align: center;
    line-height: 22px;
    margin-bottom: 15px;
}
.links-con .help-code{
    width: 285px;
    height: 151px;
    border-left:1px solid #CCCCCC;
    margin-top:35px;
    padding-top:20px
}
.help-code .help-code-box{
    float:left;
    margin-left: 20px;
}
.help-code .help-code-box a{
    display: block;
    width: 108px;
    height: 108px;
}
.help-code-box a img{
    width: 100%;
    height: 100%;
    
}
.help-code-box p{
    font-size: 14px;
    color: #333333;
    line-height: 32px;
    text-align: center;
}
/* footer */
footer{
    width: 100%;
    height: 224px;
    background: #333333;
}
.footer-con{
    height: 224px;
}
.footer-logo{
    text-align: center;
    height: 36px;
    vertical-align: middle;
    margin-bottom: 19px;
    padding-top: 20px;
}
.footer-logo img{
    display: inline-block;
}
.footer-con p{
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    color: #999999;
}
.footer-text{
    margin-left:100px;
    height: 32px;
}
.footer-text h2{
    font-size: 12px;
    line-height: 24px;
    color: #999999;
    display: flex;
    float: left;
    margin:25px 50px;
}
.footer-text h2 img{
    margin-right:5px;
}
.footer-con a:hover{
    color: #f12020;
}
/* 结算 */
.car-sum-price{
    width: 100%;
    height: 100px;
    background: #313131;
    box-shadow: 0px 0px 3px 0px #fff;
    border-top: 2px solid #fff;
    position: fixed;
    left: 0px;
    bottom: 0px;
}
.car-pro-count{
    float: left;
    margin-left: 5px;
    font-size: 14px;
    color: #fff;
    line-height: 100px;
}
.car-pro-count span{
    display:inline;
    font-size: 22px;
    color: #f12020;
    margin: 0 16px;
}
.sum-pro-rt .sum-price{
    float: left;
    font-size: 14px;
    color: #fff;
    line-height: 100px;
}
.sum-price span{
    display: inline;
    font-size: 16px;
    color: #f12020;
    margin: 0 17px;
}
.car-pay-btn{
    display: block;
    float: left;
    margin: 30px 14px 0 66px;
    border:0;
    width: 200px;
    height: 40px;
    line-height: 40px;
    background: #f12020;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}